:root {
    --color-white: #fff;
    --color-white-80a: rgba(255,255,255,0.8);
    --color-white-40a: rgba(255,255,255,0.4);
    --color-white-deep: #fafafa;
    --color-grey-light: #f7f7f7;
    --color-grey: #eeeef0;
    --color-grey-dark: #dddddf;
    --color-blue-dark: #1a202a;
    --color-blue-dark-70a: rgba(26,32,42,0.70196);
    --color-blue-dark-40a: rgba(26,32,42,0.4);
    --color-red: #d74a4a;
    --color-red-bright: #db2f2f;
    --color-red-dark: #c33535;
    --color-text-primery: var(--color-blue-dark-70a);
    --color-text-secondary: var(--color-blue-dark-40a);
    --color-text-title: var(--color-blue-dark);
    --color-link-primery: var(--color-blue-dark-70a);
    --color-link-hover: var(--color-blue-dark);
    --color-btn-primery: var(--color-red);
    --color-btn-hover: var(--color-red-bright);
    --color-btn-active: var(--color-red-dark);
    --color-bg-primery: var(--color-grey-light);
    --color-bg-dark: var(--color-blue-dark);
    --color-btn-secondary: var(--color-grey);
    --color-btn-seconadry-hover: var(--color-grey-dark)
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(https://github.com/vbobovoz/gym_website/tree/master/fonts/BebasNeue-700.woff2) format("woff2")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(https://github.com/vbobovoz/gym_website/tree/master/fonts/montserrat-500.woff2) format("woff2")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(https://github.com/vbobovoz/gym_website/tree/master/fonts/montserrat-800.woff2) format("woff2")
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    color: var(--color-text-primery);
    background-color: var(--color-bg-primery)
}

.container__head
{
    padding: 44px 50px;
    display: flex;
}

.menu__burger{
    margin-top: auto;
    width: 39px;
    margin-right: 57px;
}

.menu__btn{
    border: none;
    background: transparent;
    display: flex;
    align-items: flex-start;
}

.logo__head{
    margin-right: 57px;
    margin-top: auto;
    width: 165px;
}

.header__address{
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    height: 30px;
    font-size: 20px;
    color: #1a202ab3;
}

.header__address__txt{
    display: flex;
    align-items: flex-start;
    margin-top: auto;
}

.pin{
    height: 26px;
    margin-right: 16px;
}


.head__left{
    display: flex;
}

.head__number{
    margin-left: auto;
    color: #D74A4A;
    font-size: 20px;
    font-weight: 800;
    margin-top: auto;
}


.start__screen{
    padding-left: 140px;
    padding-top: 195px;
    font-size: 20px;
    color: #1a202ab3;
    display: flex;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;margin-bottom: 30px;
    color: #1a202a;
}

.main__btn{
    padding: 23px 20px;
    font-weight: 800;
    font-size: 20px;
    color: white;
    background-color: #D74A4A;
    border: none;
    margin-top: 65px;
}

.start__screen__img{
    position: relative;
    bottom: 250px;
    width: 35%;
    margin-left: auto;
    margin-right: 44px;
}
