:root {
    --color-white: #fff;
    --color-white-80a: rgba(255,255,255,0.8);
    --color-white-40a: rgba(255,255,255,0.4);
    --color-white-deep: #fafafa;
    --color-grey-light: #f7f7f7;
    --color-grey: #eeeef0;
    --color-grey-dark: #dddddf;
    --color-blue-dark: #1a202a;
    --color-blue-dark-70a: rgba(26,32,42,0.70196);
    --color-blue-dark-40a: rgba(26,32,42,0.4);
    --color-red: #d74a4a;
    --color-red-bright: #db2f2f;
    --color-red-dark: #c33535;
    --color-text-primery: var(--color-blue-dark-70a);
    --color-text-secondary: var(--color-blue-dark-40a);
    --color-text-title: var(--color-blue-dark);
    --color-link-primery: var(--color-blue-dark-70a);
    --color-link-hover: var(--color-blue-dark);
    --color-btn-primery: var(--color-red);
    --color-btn-hover: var(--color-red-bright);
    --color-btn-active: var(--color-red-dark);
    --color-bg-primery: var(--color-grey-light);
    --color-bg-dark: var(--color-blue-dark);
    --color-btn-secondary: var(--color-grey);
    --color-btn-seconadry-hover: var(--color-grey-dark)
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/BebasNeue-700.woff2") format("woff2")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("fonts/montserrat-500.woff2") format("woff2")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("fonts/montserrat-800.woff2") format("woff2")
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    color: var(--color-text-primery);
    background-color: var(--color-bg-primery)
}

.container__head
{
    padding: 44px 50px;
    display: flex;
}

.menu__burger{
    margin-top: auto;
    width: 39px;
    margin-right: 57px;
}

.menu__btn{
    border: none;
    background: transparent;
    display: flex;
    align-items: flex-start;
}

.logo__head{
    margin-right: 57px;
    margin-top: auto;
    width: 165px;
}

.header__address{
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    height: 30px;
    font-size: 20px;
    color: #1a202ab3;
}

.header__address__txt{
    display: flex;
    align-items: flex-start;
    margin-top: auto;
}

.pin{
    height: 26px;
    margin-right: 16px;
}


.head__left{
    display: flex;
}

.head__number{
    margin-left: auto;
    color: #D74A4A;
    font-size: 20px;
    font-weight: 800;
    margin-top: auto;
}


.start__screen{
    padding-left: 140px;
    padding-bottom: 35px;
    font-size: 20px;
    color: #1a202ab3;
    display: flex;
}

.start__screen__txt{
    padding-top: 195px;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    margin-bottom: 30px;
    color: #1a202a;
}

.main__btn{
    padding: 23px 20px;
    font-weight: 800;
    font-size: 20px;
    color: white;
    background-color: #D74A4A;
    border: none;
    margin-top: 65px;
}

.start__screen__img{
    width: 35%;
    margin-left: auto;
    margin-right: 44px;
}

.signup{
    background-image: url("images/features-2-bg@1x.jpg");
    background-size: 100%;
}


.signup__input{
    padding: 115px 65px 115px;
    background-color: rgba(211,211,211,.9);
    height: 100%;
    width: 50%;
    font-size: 20px;
    color: #1a202ab3;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-bottom: 33px;
    padding-left: 24px;
    color: #1a202a;
    border-left: 10px solid #d74a4a;
}

.services{
    color: white;
    background-image: url(images/services-bg@2x.jpg);
    background-blend-mode: darken;
    background-color: rgba(25,32,42,.90196);
    background-image: url(images/services-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services__blur-wrapper{
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.services__wrapper{
    padding: 70px 20px;
}

.services__title{
    margin: 0px 0px 30px;
    color: var(--color-white);
}

.title--h2{
    font-size: 48px;
    line-height: 1.1;
}

.title{
    position: relative;
    font-weight: 700;
}

.services__content-wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

.services__select{
    margin-bottom: 43px;
}

.custom-select{
    position: relative;
}

.custom-select__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 19px 20px 17px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 800;
    transition: background-color .5s ease;
}

.custom-select__options{
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 5;
    display: none;
    width: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
}

.custom-select__options{
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
}

.signup__details{
    display: flex;
    font-size: 18px;
}

.input{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 30px;
    padding: 26px 32px 26px;
    border: none;
}

.main__btn:hover{
    background-color: #db2f2fff;
}

.footer{
    width: 100%;
    color: #1a202ab3;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.footer__wrap{
    width: 100%;
    padding: 85px 52px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer__title{
    color: #1a202a;
    margin-bottom: 10px;
    font-weight: 800;
}

.footer__info{
    margin-bottom: 30px;
}

.ss__icon{
    width: 32px;
    margin-right: 16px;
}